extends layout

block content
  div.error
    h2 Villa
    p.errorpage Umbeðin síða fannst ekki eða er ekki til
    p.errorpage
      a.errorpage__errorlink(href="/") Aftur á forsíðu

  if err && err.message
    p=err.message
    pre #{err.stack}
