extends layout

block content
  form.input(method="post" action="/login")
    label.input__item Notendanafn:
      input(type="text" name="username" required)
    label.input__item Lykilorð:
      input(type="password" name="password")
    button.input__button Innskrá

  footer.footer
    p.footer__text
      a(href='/') Forsíða