extends layout

block content
  form.input(method="post" action="/login")
    label.input__username Notendanafn:
      //- muna að setja required
      input(type="text" name="username" required)
    label.input__password Lykilorð:
      input(type="password" name="password")
    button Innskrá

  footer
    a(href='/') Forsíða