extends layout

block content
  div.thanks
    p.thanks__text Takk fyrir skráninguna
    p.thanks__text
      a(href="/") Aftur á forsíðu

  footer.footer
    p.footer__text
      a(href="/login") Innskráning